<h>hello world</h>


<h1><%= link_to "I Need Help", new_demand_path %></h1>
<h1><%= link_to "I Want To Help", demands_path %></h1>




<p><%= link_to "sign in", '#' %></p>
<p><%= link_to 'sign up', new_user_path %></p>
